body{
font-family: 'Rubik', sans-serif;
}




.pink-box{
  height: 750px;
  width: 400px;
  background-color: hsl(264, 100%, 61%);
  border-radius: 0 0 400px 0;
    }
            /* phonearea */
.phone {

  width: 300px;
  background-color:  hsl(270, 20%, 96%);
  position: relative;
  right: 70px;
  top: 50px;
  border: 16px black solid;
  border-radius: 36px;
  font-size: 0.75rem;
  border-color: white;
  box-shadow: 40px 40px hsl(270, 20%, 96%);


  }
  .box{
    border-radius: 20px 20px 5px 5px;
    border-style: hidden;
    background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    display: flex;
    flex-direction: column;
  }
  .rectangle{
    width: 120px;
    border-radius: 5px;
    height: 20px;
    background-color: white;
    align-self: center;
  }
  .online{
    display: flex;
  }

  .profile-photo{
  border-radius: 50%;
  width: 10%;
  height: 10%;
  margin-right: 5px;
  align-self: center;
  margin-left: 30px;
}
.Available{

 color: hsl(276, 55%, 52%);
 font-size: 0.75rem;
}

.icon1{
  align-self: center;
  color: white;
  margin-left: 20px;
}

.threedot{
  color: white;
  align-self: center;
    margin-left: 50px;
}
span{
  color: white;
  font-size: 1rem;
}

.chat-left{
  width: 60%;
  border-style: hidden;
  border-radius: 10px 20px 20px 5px;
  background-color:hsl(276, 100%, 81%);
  margin:3%;
  padding: 1px 3px;
  color: hsl(276, 55%, 52%);
}

.dog{
  border-radius: 20%;
  border-width: 50px;
  width: 15%;
  margin: 5px;
}

.img0{
  text-align: right;
  margin-right: 5%;
  margin-top: 20px;
}

.chat-right{
    padding: 2px;
    width: 60%;
    margin-left: 90px;
    border-style: hidden;
    border-radius: 20px 10px 5px 20px;
    color: hsl(271, 15%, 43%);
    background-color: White;
    margin-top: 5px;
  }
.chat-right2{
  width: 40%;
  margin-left: 140px;
}
.price{
  width: 65%;
  border-style: hidden;
  border-radius: 10px 20px 20px 5px;
  background-image: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
  margin: 3%;
  color: white;
  padding: 1px 3px;
}
.price-one{
  margin-left: 20%;
}
.price-two{
  margin-left: 30%;
}

.message{
  color: hsl(206, 6%, 79%);
  width: 90%;
  border-radius: 20px;
  background-color: white;
  margin: 3% auto;
  padding: 0.5px 3px;

}
.icon2{
  margin-left:50%;
  color: black;
}
       /* textarea */
.text{
  width: 450px;

  position: relative;
  top:230px;

  line-height: 1.5;
}

h1{
  color: hsl(271, 36%, 24%);
}
 .grey-box{
   height: 650px;
   width: 300px;
   background-color: hsl(270, 20%, 96%);
   position: relative;
   top: 150px;
   z-index: -1;
   border-radius: 250px 0 0 0;
 }

 @media (max-width:500px) {
   .text{
     width:90% ;
   }
   .phone{
     position: relative;
     left:50px;
     top : -530px;

   }
   .pink-box{
     width: 50%;
     height: 600px;
   }
   .text{
     text-align: center;
     position: relative;
     top:-410px;
   }
   .grey-box{
     top:-730px;
     width: 200px;
     height: 550px;
     margin-left: 35%;
   }
 }
